* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    color: #777;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    position: relative;
    width: 300px;
    height: 400px;
    border: 2px solid #fff;
    border-radius: 4px;
    overflow: hidden;
}

.juggler__head {
    position: absolute;
    width: 50px;
    height: 70px;
    background:rgb(253, 178, 116);
    border-radius: 50%;
    border: 0.5px solid black;
    top: 63px;
    left: 136px;
}

.juggler__body {
    position: absolute;
    width: 100px;
    height: 120px;
    background: rgb(253, 178, 116);
    border: 0.5px solid black;
    transform: perspective(450px) rotateX(-45deg) scale(1,1.35);
    top: 156px;
    left: 110px;
}

.arm {
    position: absolute;
    width: 1px;
    height: 112px;
    background: black;
    animation: arms-rotation 0.5s infinite alternate;
}

.left__arm {
    top: 152px;
    left: 102px;
    transform-origin: top;
}

.right__arm {
    left: 217px;
    top: 152px;
    transform-origin: top;
    animation: arms-rotation 0.5s infinite alternate;
}

@keyframes arms-rotation {
	from {transform: rotate(5.5deg);}
	to {transform: rotate(-5.5deg);}
}

.hand {
    position: absolute;
    width: 47px;
    height: 1px;
    background: black;
    animation: hand-rotation 1s infinite linear;
}

.left__hand {
    left:1px;
    top: 111px;
    transform-origin: left;
}

.right__hand {
    left:1px;
    top: 111px;
    transform-origin: left;
    animation-direction: reverse;
}

@keyframes hand-rotation {
	from {transform: rotate(359deg);}
	to {transform: rotate(0deg);}
}

.ball {
    width: 25px; 
    height: 25px;
    background:lightpink;
    border-radius: 50%;
}

.ball-1 {
    position: absolute;
    left: 122px;
    top: 230px;
    animation: ball-one 2s infinite linear;
}

@keyframes ball-one {
    0%  {transform:translate(0px,0px) ;} 
     12.5% {transform:translate(-14px,-118px) ;}
     25% {transform:translate(-26px,-188px) ;}
     37.5% {transform:translate(-42px,-209px) ;}
     50% {transform:translate(-57px,-175px) ;}
     62.5% {transform:translate(-73px,-71px) ;}
     75% {transform:translate(-82px,32px) ;}
     87.5% {transform:translate(-38px,77px) ;}
     100% {transform:translate(0px,0px) ;}
}

.ball-2 {
    position: absolute;
    left: 122px;
    top: 230px;
    animation: ball-two 2s infinite linear;
}

@keyframes ball-two {
     0% {transform:translate(-57px,-175px) ;}
     12.5% {transform:translate(-73px,-71px) ;}
     25% {transform:translate(-82px,32px) ;}
     37.5% {transform:translate(-38px,77px) ;}
     50%  {transform:translate(0px,0px) ;} 
     62.5% {transform:translate(-14px,-118px) ;}
     75% {transform:translate(-26px,-188px) ;}
     87.5% {transform:translate(-42px,-209px) ;}
     100% {transform:translate(-57px,-175px) ;}
}

.ball-3 {
    position: absolute;
    left: 248px;
    top: 230px;
    animation: ball-one 2s infinite linear;
    animation-direction: reverse;
}

.ball-4 {
    position: absolute;
    left: 248px;
    top: 230px;
    animation: ball-two 2s infinite linear; 
    animation-direction: reverse;
}