* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}
body {
    background-color: #eee;
    color: #777;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container {
    position: relative;
    width: 600px;
    height: 600px;
    border: 2px solid #fff;
    border-radius: 4px;
    overflow: hidden;
}
.juggler {
    height: 420px;
}
.juggler__head {
    position: absolute;
    width: 50px;
    height: 70px;
    background:rgb(253, 178, 116);
    border-radius: 50%;
    border: 2px solid black;
    bottom: 190px;
    left: 275px;
}
.juggler__body {
    position: absolute;
    width: 100px;
    height: 120px;
    background: rgb(253, 178, 116);
    border: 2px solid black;
    transform: perspective(450px) rotateX(-45deg) scale(1,1.35);
    bottom: 50px;
    left: 250px;
}
.left__arm {
    position: absolute;
    width: 2px;
    height: 112px;
    background: black;
    bottom: 64px;
    left:244px;
    transform-origin: top;
    animation: arms-rotation 0.5s infinite alternate;
}
.right__arm {
    position: absolute;
    width: 2px;
    height: 112px;
    background: black;
    left: 355px;
    bottom: 64px;
    transform-origin: top;
    animation: arms-rotation 0.5s infinite alternate;
}
@keyframes arms-rotation {
	from {transform: rotate(5.5deg);}
	to {transform: rotate(-5.5deg);}
}
.left__hand {
    position: absolute;
    width: 47px;
    height: 2px;
    background: black;
    left:1px;
    top: 111px;
    transform-origin: left;
    animation-direction: reverse;
    animation: hand-rotation 1s infinite linear;
}
.right__hand {
    position: absolute;
    width: 47px;
    height: 2px;
    background: black;
    left:1px;
    top: 111px;
    transform-origin: left;
    animation-direction: alternate-reverse;
    animation: hand-rotation 1s infinite linear;
}
@keyframes hand-rotation {
	from {transform: rotate(359deg);}
	to {transform: rotate(0deg);}
}
.ball__one {
    position: absolute;
    width: 25px; 
    height: 25px;
    background:lightpink;
    border-radius: 50%;
    left: 20px;
    top: 111px;
    animation: ball_one 3s infinite linear;
}
@keyframes ball_one {
    0%  {transform:translate(0px,0px) ;} 
    5%  {transform: translate(5px,-35px);}
    10% {transform: translate(10px,-70px);}
    15% {transform: translate(25px,-105px);}
    20% {transform: translate(45px,-150px);}
    25% {transform:translate(60px,-185px) ;}
    30% {transform: translate(70px,-150px);}
    35% {transform: translate(80px,-105px);}
    40% {transform: translate(85px,-70px);}
    50% {transform: translate(90px,-35px);}
    55% {transform: translate(100px,0px);}
    60% {transform: translate(70px,-35px);}
    65% {transform: translate(40px,-80px);}
    70% {transform: translate(10px,-140px);}
    75% {transform: translate(-20px,-185px);}
    80%  {transform: translate(-15px,-140px);}
    85% {transform: translate(-10px,-80px);}
    90% {transform: translate(-5px,-35px);}
    100%  {transform: translate(0px,0px);}
} 
.ball__two {
    position: absolute;
    width: 25px; 
    height: 25px;
    background:lightpink;
    border-radius: 50%;
    left: 20px;
    top: 111px;
    animation: ball_two 3s infinite linear;
}
@keyframes ball_two {
    0%  {transform:translate(0px,0px) ;} 
    5%  {transform: translate(-5px,-35px);}
    10% {transform: translate(-10px,-70px);}
    15% {transform: translate(-25px,-105px);}
    20% {transform: translate(-45px,-150px);}
    25% {transform:translate(-60px,-185px) ;}
    30% {transform: translate(-70px,-150px);}
    35% {transform: translate(-80px,-105px);}
    40% {transform: translate(-85px,-70px);}
    50% {transform: translate(-90px,-35px);}
    55% {transform: translate(-100px,0px);}
    60% {transform: translate(-70px,-35px);}
    65% {transform: translate(-40px,-80px);}
    70% {transform: translate(-10px,-140px);}
    75% {transform: translate(20px,-185px);}
    80%  {transform: translate(15px,-140px);}
    85% {transform: translate(10px,-80px);}
    90% {transform: translate(5px,-35px);}
    100%  {transform: translate(0px,0px);}
} 
.ball__three {
    position: absolute;
    width: 25px; 
    height: 25px;
    background:lightpink;
    border-radius: 50%;
    left: 20px;
    top: 111px;
    animation: ball_two 2s infinite linear;
}